h1 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

body {
    background-image: url(../imagens/homem.jpg), url(../imagens/homem.jpg);
    background-repeat: no-repeat,repeat;
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

main {
    background-color: rgba(0, 0, 0,0.6);
    padding: 5px 50px;
    margin-top:20px;
    border-radius: 10px;
}

.logo, .manchete,.headline {
    margin: 0;
    text-align: center;
}

.video {
   margin: 0;
   margin-top:20px;
   text-align: center;
}

article {
    text-align: center;
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 255,0) 
}

.datas {
    margin: 30px 0;
    text-align: center;
    width: 100%;
}

.datas table {
    background: rgba(244, 66, 182, 0.6);
    border-radius: 10px;
    padding: 10px;
    margin:0 auto;
}